html, body {
    height: 100%;
    margin: 0;         /* Reset default margin on the body element */
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    background: #fff;
}

body.page {
    margin: 1em;
}

iframe {
    display: block;       /* iframes are inline by default */
    background: #fff;
    border: none;         /* Reset default border */
    width: 100%;
    height: 100%;
}

body.home {
    background: #fff;
    color: #222;
    font-family: sans-serif;
}

#logo {
   position: absolute;
   top: 50%;
   left: 50%;
   width: 250px;
   height: 250px;
   margin-top: -165px; /* Half the height */
   margin-left: -125px; /* Half the width */
   border-radius: 15px;
}

#social {
    position: absolute;
    bottom: 36px;
    left: 24px;
    line-height: 1em;
    margin: 0;
}

#social a,
#social a:hover,
#social a:visited,
#social a:active {
    text-decoration: none;
    color: #fff;
    padding: 0 14px;
    margin-right: 0.5em;
    width: auto;
    height: 52px;
    line-height: 52px;
    border-radius: 5px;
    background: #007aff;
    display: inline-block;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.4);
}

svg {
    fill: currentColor;
    height: 25px;
    width: 25px;
    line-height: 52px;
    margin-top: 50%;
}

@media only screen and (max-width: 767px) {
    #social {
        position: absolute;
        bottom: 8px;
        left: 8px;
    }
    
    #social a,
    #social a:hover,
    #social a:visited,
    #social a:active {
        padding: 0 0.8em;
        margin-right: 8px;
    }
}


/*
#brand {
    margin-top: 1em;
    font-size: 4em;
    text-align: center;
}

#subheader  {
    font-size: 2em;
    text-align: center;
}

h2 {
    text-align: center;
}
*/
